 <div class="">

    <h1>Listes des ordinateurs</h1>

    <table class="table table-restricted">
      <thead>
      <tr>
        <th>Marque</th> <th>Processeur</th> <th>RAM</th>  <th>Technologie</th>
        <th>Taille</th> <th>Fournisseur</th>  <th>Propriétaire</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let c of computers;">
        <td> {{ c.marque }} </td>
        <td> {{ c.cpu }} </td>
        <td> {{ c.ram }} </td>
        <td> {{ c.hardDiskTech }} </td>
        <td> {{ c.stockage }} </td>
        <td> {{ c.fournisseur }}</td>
        <td> {{ c.user }} </td>
      </tr>
      </tbody>
    </table>

  </div>
