<app-side-nav *ngIf="!isAuth"></app-side-nav>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a routerLink="home">
      <img class="navbar-brand" src="../../assets/logo-fac.png" />
    </a>
    <ul class="nav navbar-nav pull-right">
      <a routerLink="login" class="btn btn-toolbar" *ngIf="isAuth">
        <i class="fa fa-user"></i> Connexion
      </a>

      <a class="btn btn-toolbar" *ngIf="!isAuth">
        <i class="fa fa-sign-out"></i> Déconnexion
      </a>
    </ul>
  </div>
</nav>
