i {
  font-size: 32px;
}

a {
  color: black;
  margin-top: 10%;
  background-color: transparent;
  margin-left: 5px;
}

.navbar-brand {
  height: 80px;
  width: 200px;
  margin: 0;
  padding: 4px;
}
