<div>
  <img src="../../../assets/university.jpg">
  <div class="title">
    <h1>Bienvenue dans notre Université !</h1>
    <p>
      En choisissant notre université, vous étudierez au sein de la première université francophone en Amérique du Nord,
      sur un campus ultra-moderne qui est un lieu de savoir et de recherche reconnu mondialement.
      Votre présence contribuera à enrichir de votre culture notre milieu d’études et de vie.
      Votre intégration à ce nouveau milieu ainsi que votre réussite scolaire sont nos priorités.
    </p>
  </div>
</div>
