img {
  /* Full height */
  width:100%;
  max-height:740px;
  opacity: 0.6;
}

.title {
  border-radius: 10px;
  box-shadow: 5px 10px;
  margin-top: -30%;
  width: 60%;
  background-color: #4f5b69;
  color: white;
  margin-left: 20%;
  padding: 30px;
}
