  <div class="">
    <h1>Liste des imprimantes</h1>

    <table class="table table-restricted">
      <thead>
      <tr>
        <th>Marque</th> <th>Vitesse</th> <th>Résolution</th>  <th>Fournisseur</th> <th>Propriétaire</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let p of printers;">
        <td> {{ p.marque }} </td>
        <td> {{ p.vitesse }} </td>
        <td> {{ p.resolution }} </td>
        <td> {{ p.fournisseur }} </td>
        <td> {{ p.user }} </td>
      </tr>
      </tbody>
    </table>

  </div>
