<div class="container col-sm-9 col-sm-offset-2">
  <div class="container formulaire">
    <h1>Nouveau Ordinateur</h1>

    <form [formGroup]="newComputer" (submit)="onSubmit()">

      <div class="form-group">
        <label for="marque" class="pull-left">Marque :</label>
        <input class="form-control"  id="marque" type="text" formControlName="brand"/>
      </div>

      <label>Processeur :</label>

      <div class="form-group border inline">
        <div class="form-check">

          <mat-radio-group
            class="example-radio-group"
            [(ngModel)]="cpu" name="cpu" formControlName="processeur">
            <mat-radio-button class="example-radio-button" *ngFor="let elem of listCPU" [value]="elem">
              {{elem}}
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <button type="button" class="btn btn-success" (click)="onOthers(0)">Autres</button>
        <input class="form-control" *ngIf="others[0]" type="text" formControlName="others0"/>

      </div>

      <label>Mémoire RAM :</label>

      <div class="form-group border inline">
        <div class="form-check">

          <mat-radio-group
            class="example-radio-group"
            [(ngModel)]="ram" name="ram" formControlName="memoireRAM">
            <mat-radio-button class="example-radio-button" *ngFor="let elem of listRAM" [value]="elem">
              {{elem}}
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <button type="button" class="btn btn-success" (click)="onOthers(1)">Autres</button>
        <input class="form-control" *ngIf="others[1]" type="text" formControlName="others1"/>

      </div>

      <label>Technologie du disk dûr :</label>

      <div class="form-group border inline">

        <div class="form-check">

          <mat-radio-group
            class="example-radio-group"
            [(ngModel)]="hardDiskTech" name="hardDiskTech" formControlName="diskDurTech">
            <mat-radio-button class="example-radio-button" *ngFor="let elem of listHardDiskTech" [value]="elem">
              {{elem}}
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <button type="button" class="btn btn-success" (click)="onOthers(2)">Autres</button>
        <input class="form-control" *ngIf="others[2]" type="text" formControlName="others2"/>

      </div>

      <label>Taille du disk dûr :</label>

      <div class="form-group border inline">

        <div class="form-check">

          <mat-radio-group
            class="example-radio-group"
            [(ngModel)]="hardDiskSize" name="HardDiskSize" formControlName="diskDurTaille">
            <mat-radio-button class="example-radio-button" *ngFor="let elem of listHardDiskSize" [value]="elem">
              {{elem}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <button type="button" class="btn btn-success" (click)="onOthers(3)">Autres</button>
        <input class="form-control" *ngIf="others[3]" type="text" formControlName="others3"/>

      </div>

      <div class="form-group">
        <label for="type" class="pull-left">Fournisseur :</label>
        <select class="form-control" id="type" formControlName="supplier">
          <option *ngFor="let f of fournisseurs" [value]="f.name">{{f.name}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary pull-right">Valider</button>

    </form>
  </div>
</div>
