<div class="container col-sm-9 col-sm-offset-2">
  <div class="container formulaire">
    <h1>Nouvelle affectation d'ordinateur</h1>

    <table class="table table-restricted">
      <thead>
      <tr>
        <th></th> <th>Marque</th> <th>Processeur</th> <th>Mémoire RAM</th>  <th>Technologie de stockage</th>
        <th>Taille de stockage</th> <th>Fournisseur</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of computers;">
          <td> <input class="custom-control-input" type="checkbox" /> </td>
          <td> {{ c.brand }} </td>
          <td> {{ c.cpu }} </td>
          <td> {{ c.ram }} </td>
          <td> {{ c.storageTech }} </td>
          <td> {{ c.size }} </td>
          <td> {{ c.supplier }} </td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary pull-right" (click)="onAssignToDepartment()">Département</button>
    <button type="button" class="btn btn-primary pull-right" (click)="onAssignToStaff()">Personnel</button>

  </div>
</div>
