  <div class="container col-sm-9 col-sm-offset-2">
  <div class="container formulaire">
      <h1>Nouvelle Panne</h1>

      <form>

        <div class="form-group">
          <label>Materiel en panne :</label>

          <div class="form-group border inline">

            <div class="form-check">

              <mat-radio-group
                class="example-radio-group"
                [(ngModel)]="breakDownType" name="breakDownType">
                <mat-radio-button class="example-radio-button" *ngFor="let elem of listBreakDownType" [value]="elem">
                  {{elem}}
                </mat-radio-button>
              </mat-radio-group>

            </div>

            <button type="button" class="btn btn-success">Séléctionner</button>

          </div>

          <div class="form-group">
            <label for="type" class="pull-left">Type de la panne :</label>
            <select class="form-control" id="type">
              <option *ngFor="let t of typesPanne" [value]="t">{{t}}</option>
            </select>
          </div>

          <label>Fréquence de la panne :</label>

          <div class="form-check">

            <mat-radio-group
              class="example-radio-group"
              [(ngModel)]="frequence" name="frequence">
              <mat-radio-button class="example-radio-button" *ngFor="let elem of listFrequence" [value]="elem">
                {{elem}}
              </mat-radio-button>
            </mat-radio-group>

          </div>
        </div>

        <div class="form-group">
          <label for="date" class="pull-left">Date d'apparition de la panne :</label>
          <input class="form-control"  id="date" type="date" />
        </div>

        <div class="form-group">
          <label class="pull-left">Description :</label>
          <textarea formControlName="description" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Valider</button>

      </form>
    </div>
  </div>
