<div class="container formulaire">

  <h1>Listes des besoins d'ordinateurs</h1>

  <table class="table table-restricted">
    <thead>
    <tr>
      <th>Marque</th> <th>Processeur</th> <th>RAM</th>  <th>Technologie</th>
      <th>Taille</th> <th>Propriétaire</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let c of computerNeeds;">
      <td> {{ c.brand }} </td>
      <td> {{ c.cpu }} </td>
      <td> {{ c.ram }} </td>
      <td> {{ c.storageTech }} </td>
      <td> {{ c.size }} </td>
      <td> {{ c.owner }} </td>
      <td>
        <span><i class="fa fa-trash-o" style="font-size: 24px;"></i></span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
