<div class="container formulaire">

    <h1>Listes des utilisateurs</h1>

    <table class="table table-restricted">
      <thead>
      <tr>
        <th>Nom</th> <th>Département</th> <th>Mail</th> <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let u of users;">
        <td> {{ u.name }} </td>
        <td> {{ u.department }} </td>
        <td> {{ u.mail }} </td>
        <td>
          <span><i class="fa fa-trash-o" style="font-size: 24px;"></i></span>
        </td>
      </tr>
      </tbody>
    </table>

</div>
