<div class="container col-sm-9 col-sm-offset-2">
  <div class="container formulaire">

      <h1>Listes des utilisateurs</h1>

      <table class="table table-restricted">
        <thead>
        <tr>
          <th>Nom</th> <th>Prénom</th> <th>Département</th> <th>Email</th> <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let u of users;">
          <td> {{ u.nom }} </td>
          <td> {{ u.prenom }} </td>
          <td> {{ u.departement }} </td>
          <td> {{ u.email }} </td>
          <td>
            <span (click)="onDelete(u.id)"><i class="fa fa-trash-o" style="font-size: 24px;"></i></span>
          </td>
        </tr>
        </tbody>
      </table>

  </div>
</div>
