<div class="nav-side-menu">
  <div class="brand">Gestion des ressources</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <li data-toggle="collapse" data-target="#utilisateur" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Utilisateurs <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="utilisateur">
        <li><a routerLink="new-user">Nouveau Utilisateurs</a></li>
        <li><a routerLink="users">Liste des utilisateurs</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#fournisseurs" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Fournisseurs <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="fournisseurs">
        <li><a routerLink="sign-up-supplier">Inscription</a></li>
        <li><a routerLink="suppliers">Liste des Fournisseurs</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#departement" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Département <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="departement">
        <li><a routerLink="new-department">Nouveau Département</a></li>
        <li><a routerLink="departments">Liste des département</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#ressource" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Ressource <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="ressource">
        <li><a routerLink="new-computer">Nouveau Ordinateur</a></li>
        <li><a routerLink="new-printer">Nouvelle Imprimante</a></li>
        <li><a routerLink="computers">Liste des ordinateurs</a></li>
        <li><a routerLink="printers">Liste des imprimantes</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#panne" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Panne <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="panne">
        <li><a routerLink="new-breakdown">Nouvelle Panne</a></li>
        <li><a routerLink="breakdowns">Liste des pannes</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#besoin" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Besoin <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="besoin">
        <li><a routerLink="new-computer-need">Nouveau Besoin d'ordinateur</a></li>
        <li><a routerLink="new-printer-need">Nouveau Besoin d'imprimante</a></li>
        <li><a routerLink="computer-needs">Liste des besoins d'ordinateurs</a></li>
        <li><a routerLink="printer-needs">Liste des besoins d'imprimante</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#constat" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Constat <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="constat">
        <li><a routerLink="new-constat">Nouveau Constat</a></li>
        <li><a routerLink="#">Liste des Constats</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#affectation" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i> Affectation <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="affectation">
        <li><a routerLink="new-computer-assignment">Nouvelle Affectation d'ordinateur</a></li>
        <li><a routerLink="new-printer-assignment">Nouvelle Affectation d'imprimante</a></li>
        <li><a routerLink="#">Liste  des affectations d'ordianteurs</a></li>
        <li><a routerLink="new-constat">Liste  des affectations des imprimantes</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#demande-offre" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i>Demande d'offre <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="demande-offre">
        <li><a routerLink="new-computer-offer-demand">Nouvelle Demande d'offre d'ordinateurs</a></li>
        <li><a routerLink="new-printer-offer-demand">Nouvelle Demande d'offre d'imprimantes</a></li>
        <li><a routerLink="new-computer-offer-demand">Liste des demandes d'offres d'ordinateurs</a></li>
        <li><a href="#">Liste des demandes d'offre d'imprimantes</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#offre" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i>Offre <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="offre">
        <li><a routerLink="new-computer-offer">Nouvelle Offre d'ordinateurs</a></li>
        <li><a routerLink="new-printer-offer">Nouvelle Offre d'imprimantes</a></li>
        <li><a href="#">Liste des offres  d'ordinateurs</a></li>
        <li><a href="#">Liste des offres  d'imprimantes</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#commande" class="collapsed">
        <a><i class="fa fa-globe fa-lg"></i>Commande <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="commande">
        <li><a routerLink="new-command">Nouvelle Commande</a></li>
        <li><a routerLink="#">Liste des Commandes</a></li>
      </ul>

    </ul>
  </div>
</div>
