<div class="container formulaire">
  <h1>Nouvelle demande d'offre d'ordinateurs</h1>

  <div class="container formulaire inside-formulaire">
    <form>
      <h3>Nouveau Ordinateur</h3>
      <div class="form-group">
        <label for="marque" class="pull-left">Marque :</label>
        <input class="form-control"  id="marque" type="text" />
      </div>

      <label>Processeur :</label>

      <div class="form-group border inline">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="i3" />
          <label class="form-check-label m-left" for="i3">I3</label>

          <input type="radio" class="form-check-input" id="i5" />
          <label class="form-check-label m-left" for="i5">I5</label>

          <input type="radio" class="form-check-input" id="i7" />
          <label class="form-check-label m-left" for="i7">I7</label>
        </div>

        <button type="button" class="btn btn-success">Autres</button>

      </div>

      <label>Mémoire RAM :</label>

      <div class="form-group border inline">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="4gb" />
          <label class="form-check-label m-left" for="4gb">4GB</label>

          <input type="radio" class="form-check-input" id="8gb" />
          <label class="form-check-label m-left" for="8gb">8GB</label>

          <input type="radio" class="form-check-input" id="16gb" />
          <label class="form-check-label m-left" for="16gb">16GB</label>
        </div>

        <button type="button" class="btn btn-success">Autres</button>

      </div>

      <label>Technologie du disk dûr :</label>

      <div class="form-group border inline">

        <div class="form-check">
          <input type="radio" class="form-check-input" id="hdd" />
          <label class="form-check-label m-left" for="hdd">HDD</label>

          <input type="radio" class="form-check-input" id="ssd" />
          <label class="form-check-label m-left" for="ssd">SSD</label>
        </div>

        <button type="button" class="btn btn-success">Autres</button>

      </div>

      <label>Taille du disk dûr :</label>

      <div class="form-group border inline">

        <div class="form-check">
          <input type="radio" class="form-check-input" id="256gb" />
          <label class="form-check-label m-left" for="256gb">256GB</label>

          <input type="radio" class="form-check-input" id="512gb" />
          <label class="form-check-label m-left" for="512gb">512GB</label>

          <input type="radio" class="form-check-input" id="1To" />
          <label class="form-check-label m-left" for="1To">1To</label>
        </div>

        <button type="button" class="btn btn-success">Autres</button>

      </div>

      <div class="form-group">
        <label for="quantity" class="pull-left">Quantité :</label>
        <input class="form-control"  id="quantity" type="number" />
      </div>

      <button type="button" class="btn btn-primary pull-right" (click)="onOpenCart()" *ngIf="!cart">Voir Panier</button>
      <button type="submit" class="btn btn-success pull-right">Ajouter au Panier</button>

    </form>
  </div>

  <div class="sub-formulaire" *ngIf="cart">
    <h3>Panier</h3>
    <table class="table table-restricted">
      <thead>
      <tr>
        <th>Marque</th> <th>Processeur</th> <th>Mémoire RAM</th>  <th>Technologie de stockage</th>
        <th>Taille de stockage</th> <th>Quantité</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let c of computers;">
        <td> {{ c.brand }} </td>
        <td> {{ c.cpu }} </td>
        <td> {{ c.ram }} </td>
        <td> {{ c.storageTech }} </td>
        <td> {{ c.size }} </td>
        <td> {{ c.quantity }}</td>
        <td>
          <span><i class="fa fa-trash-o" style="font-size: 24px;"></i></span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <button type="button" class="btn btn-primary pull-right" *ngIf="cart">Valider</button>

</div>
