<div class="container col-sm-9 col-sm-offset-2">
  <div class="container formulaire">
    <h1>Nouvelle demande d'offre d'ordinateurs</h1>

    <div class="container formulaire inside-formulaire">
      <form>
        <h3>Nouveau Ordinateur</h3>
        <div class="form-group">
          <label for="marque" class="pull-left">Marque :</label>
          <input class="form-control"  id="marque" type="text" />
        </div>

        <label>Processeur :</label>

        <div class="form-group border inline">
          <div class="form-check">
            <mat-radio-group
              class="example-radio-group"
              [(ngModel)]="cpu" name="cpu">
              <mat-radio-button class="example-radio-button" *ngFor="let elem of listCPU" [value]="elem">
                {{elem}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <button type="button" class="btn btn-success" (click)="onOthers(0)">Autres</button>
          <input class="form-control" *ngIf="others[0]" type="text" formControlName="others0"/>

        </div>

        <label>Mémoire RAM :</label>

        <div class="form-group border inline">
          <div class="form-check">
            <mat-radio-group
              class="example-radio-group"
              [(ngModel)]="ram" name="ram">
              <mat-radio-button class="example-radio-button" *ngFor="let elem of listRAM" [value]="elem">
                {{elem}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <button type="button" class="btn btn-success" (click)="onOthers(1)">Autres</button>
          <input class="form-control" *ngIf="others[1]" type="text" formControlName="others1"/>

        </div>

        <label>Technologie du disk dûr :</label>

        <div class="form-group border inline">

          <div class="form-check">
            <mat-radio-group
              class="example-radio-group"
              [(ngModel)]="hardDiskTech" name="hardDiskTech">
              <mat-radio-button class="example-radio-button" *ngFor="let elem of listHardDiskTech" [value]="elem">
                {{elem}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <button type="button" class="btn btn-success" (click)="onOthers(2)">Autres</button>
          <input class="form-control" *ngIf="others[2]" type="text" formControlName="others2"/>

        </div>

        <label>Taille du disk dûr :</label>

        <div class="form-group border inline">

          <div class="form-check">
            <mat-radio-group
              class="example-radio-group"
              [(ngModel)]="hardDiskSize" name="HardDiskSize">
              <mat-radio-button class="example-radio-button" *ngFor="let elem of listHardDiskSize" [value]="elem">
                {{elem}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <button type="button" class="btn btn-success" (click)="onOthers(3)">Autres</button>
          <input class="form-control" *ngIf="others[3]" type="text" formControlName="others3"/>

        </div>

        <div class="form-group">
          <label for="quantity" class="pull-left">Quantité :</label>
          <input class="form-control"  id="quantity" type="number" />
        </div>

        <button type="button" class="btn btn-primary pull-right" (click)="onOpenCart()" *ngIf="!cart">Voir Panier</button>
        <button type="submit" class="btn btn-success pull-right">Ajouter au Panier</button>

      </form>
    </div>

    <div class="sub-formulaire" *ngIf="cart">
      <h3>Panier</h3>
      <table class="table table-restricted">
        <thead>
        <tr>
          <th>Marque</th> <th>Processeur</th> <th>Mémoire RAM</th>  <th>Technologie de stockage</th>
          <th>Taille de stockage</th> <th>Quantité</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let c of computers;">
          <td> {{ c.brand }} </td>
          <td> {{ c.cpu }} </td>
          <td> {{ c.ram }} </td>
          <td> {{ c.storageTech }} </td>
          <td> {{ c.size }} </td>
          <td> {{ c.quantity }}</td>
          <td>
            <span><i class="fa fa-trash-o" style="font-size: 24px;"></i></span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <button type="button" class="btn btn-primary pull-right" *ngIf="cart">Valider</button>

  </div>
</div>
